<section class="container font-mono mx-auto px-4">
  <div class="flex justify-end">
    <a href="/users/sign_out" data-method="delete" id="Signout"><i class="fas fa-sign-out-alt text-2xl text-white mt-4"></i></a>
  </div>
</section>