<section class="container font-mono mx-auto px-4">
  <div class="flex justify-end">
    <%= link_to "Donate", new_donation_path, class: "btn btn-blue leading-normal mt-2" %>
    <a href="/users/sign_out" data-method="delete" id="Signout"><i class="fas fa-sign-out-alt text-2xl text-white mt-4 mx-6"></i></a>
  </div>
</section>