<section class="container font-mono mx-auto px-4">
  <h1 class="text-center text-3xl">Depolarize</h1>
  <div class="text-center">
    <p>Are you worried about echo chambers?</p>
    <p>Are you worried about increasing political polarization in our societies?</p>
    <p>Are you part of the problem?</p>
    <p>Are you part of the problem?</p>
  </div>
  <div class="text-center font-mono mt-32">
    <p class="text-2xl mb-10">Choose your political affiliation</p>
    <button class="btn btn-blue">Liberal</button>
    <button class="btn btn-blue">Conservative</button>

  </div>
</section>
