<section class="container mx-auto px-4 mt-20">
  <h2 class="text-center">Thanks, you donated <strong>EUR 5.00</strong>!</h2>
  <p class="text-center mt-4"> <%= link_to "Back to feed", feeds_path %>
</section>