a {
  text-decoration: none;
  
  &:visited {
    color: white;
  }
}

.affiliation {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  color: white;  
  text-align: center;
  
  line-height: 60px;
  font-size: 20px;
}
.affiliation:hover {
  backgroud-color: lightblue;
  transform: scale(1.1)
}